.footer {
    display: flex;
    background-color: #2C2C2C;
    justify-content: space-between;

    &_imageContainer{ 
        &_link {
            &_imageLogo {
                width: 135px;
            }
        }
    }

    &_textContainer {
        display: flex;
        align-items: center;

        &_text {
            color: #fff;
        }
    }

    &_icons {
        display: flex;
        align-items: center;

        &_link {
            &_image {
                padding: 10px;
            }
        }
    }
}