.header {
  display: flex;
  justify-content: space-between;

  &_imageContainer {
    background-color: red;
  }

  .header_categories {


    .header_categories_category {

    }
  }

  .header_login {

    .header_login_button {

    }
  }
}