*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: monospace, Courier, 'Courier New' ;
}

$lightBlue: #32b9cd;
$darkBlue: #04378f;
$lightGrey: #636a70;
$white: #ffffff;
$black: #07080a;

body{
    background: #ffe0e0;

}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &.container{
      width: 80%;
      margin: 0 auto;
    }
    &_title{
      color: $lightBlue;
      font-size: 3rem;
      margin-bottom: 20px;
    }
    &_nav{
        display: flex;
        align-items: center;
        width: 70%;
        justify-content: space-evenly;
        margin-bottom: 30px;
        &_input{
            min-width: 60%;
            font-size: 18px;
            padding: 5px 10px;
            border: 2px solid #909090;
            border-radius: 10px;
        }
        &_btn{
            background: $darkBlue;
            color: $white;
            padding: 6px 10px 6px 45px;
            border-radius: 10px;
            font-size: 18px;
            border: none;
            position: relative;
            cursor: pointer;
            margin: 0 5px;

            &::after{
                content: "";
                background: url("../imgs/loupe.png") no-repeat;
                display: block;
                width: 23px;
                height: 23px;
                position: absolute;
                top: 5px;
                background-size: contain;
                left: 12px;
                z-index: 0;
            }
        }
        &_filter{
            background: $darkBlue;
            color: $white;
            padding: 5px 10px;
            border-radius: 10px;
            font-size: 18px;
            border: none;
            position: relative;
            cursor: pointer;
            &_value{
                background: white;
                color: black;
            }
        }
    }

    &_table{
        width: 85%;
        &_label{

            &_title{
                font-size: 25px;
                text-align: center;
            }
        }
        &_user{
            position: relative;
            &_img{
                width: 50px;
                height: 50px;
            }
            &_title{
                font-size: 25px;
                text-align: center;
            }
            &_about{
                background: $darkBlue;
                border-radius: 10px;
                border: none;
                width: 30px;
                height: 30px;
                padding: 5px;
                cursor: pointer;
            }
            &_trash{
                background: #8f0404;
                border-radius: 10px;
                border: none;
                width: 30px;
                height: 30px;
                padding: 5px;
                cursor: pointer;
            }
        }
    }





}







