*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Courier New', Courier, monospace
}

// criar variáveis de cores tamanhos e oq mais for necessário aqui
$fontWhite: #ffffff;
$fontBlack: #000000;
$bgWhite: #ffffff;
$bgBlack: #000000;
$fontSize16: 16px;
$fontSize18: 18px;

.container {
  width: 85%;
  margin: 0 auto;
}

