*{
  margin: 0;
  padding: 0;
  outline: none;
}

$lightBlue: #32b9cd;
$darkBlue: #04378f;
$lightGrey: #636a70;
$white: #ffffff;
$black: #07080a;


.homeMain{
  display: flex;
  justify-content: space-around;
  height: 90vh;
  border-bottom: 2px solid #ebe6e6;
  position: relative;
  &::after{
    content: "";
    background: url("../../assets/graph.png");
    height: inherit;
    width: 50%;
    position: absolute;
    bottom: -275px;
    left: -20%;
    background-size: contain;
    transform: rotate(-152deg);
  }
  &-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12.5vh;
    &-title{
      color: $lightBlue;
      font-size: 75px;
      align-self: flex-start;
    }
    &-parag{
      font-size: 40px;
      max-width: 350px;
      margin: 10px 0 50px 0;
    }
    &-link{
      text-decoration: none;
      color: white;
      background: $darkBlue;
      padding: 5px 15px;
      border-radius: 5px;
      font-weight: 600;
      font-size: 25px;
      z-index: 1;
      cursor: pointer;
    }
  }
  &-img{
    height: 55%;
    max-height: 500px;
    margin-top: 20vh;
  }
  &-graph{
    position: absolute;
    transform: rotate(-152deg);
    left: -20%;
    bottom: -27vh;
    height: 100%;
  }
  &-arrowScroll{
    transform: rotate(90deg);
    height: 30px;
    position: absolute;
    bottom: 15vh;
    animation: arrowScroll 2s infinite;
  }
}
.homeSection{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin: 55px 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
  &-box{
    display: flex;
    flex-direction: column;
    
    width: 35%;
    &-title{
      color: $lightBlue;
      font-size: 75px;
      align-self: flex-start;
    }
    &-parag{
      font-size: 35px;
      width: 100%;
      margin: 10px 0 25px 0;
    }
  }
  &-img{
    height: 70%;
  }
  &-graph{
    position: absolute;
    transform: rotate(135deg);
    right: -200px;
    top: 250px;
    z-index: -1;
    width: 55%;
  }
}



@keyframes arrowScroll {
  0%{
    bottom:5vh;
  }
  50%{
    bottom:10vh;
  }
  100%{
    bottom:5vh;
  }
}