$bgBlackHeader: #2C2C2C;
$secundaryColor: #32B9CD;
$colorWhite: #FFFF;

#rootHeader {
  display: flex;
  justify-content: space-between;
  background-color: $bgBlackHeader;
  position: fixed;
  transition: 0.5s;
  z-index: 10;

  .header_imageContainer {
    width: 150px;
    display: flex;
    align-items: center;

    &_link {
      cursor: pointer;

      &_imageLogo {
        width: 135px;
      }
    }
  }

  .header_categories {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_category {
      cursor: pointer;
      
      &_link {
        text-decoration: none;
        color: $colorWhite;
        font-size: 1.25rem;
        position: relative;

        &::after {
          transition: 0.5s;
          content: "";
          height: 2px;
          width: 0%;
          position: absolute;
          left: 0;
          bottom: 0px;
          background-color: $secundaryColor;
        }

        &:hover {
          &::after {
            width: 100%;
          }

        }
      }
    }
  }

  .header_login {
    display: flex;
    align-items: center;
    
    &_button {
      padding: 5px 25px;
      border-radius: 20px;
      color: $colorWhite;
      background-color: $bgBlackHeader;
      border: 2px $secundaryColor solid;
      cursor: pointer;
      font-weight: 600;
      font-size: 1.25rem;
      transition: 0.5s;
      text-decoration: none;
      
      &:hover {
        background-color: $secundaryColor;
        color: $bgBlackHeader;
      }
    }
  }
}

@media (min-width: 768px) {
  #rootHeaderMobile{
    display: none;
  }
}

@media (max-width: 768px) {

  #rootHeader {
    display: none;
  }

  #rootHeaderMobile{
    display: flex;
    justify-content: space-between;
    background-color: $bgBlackHeader;
    position: fixed;
    transition: 0.5s;
    z-index: 10;
    
    .headerMobile_topo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      z-index: 22;
      background-color: $bgBlackHeader;

      &_hamburger {

      }

      &_link {

        img {
          width: 125px;
        }
      }

      &_login {


        &_button {
          padding: 5px 15px;
          border-radius: 20px;
          color: $colorWhite;
          background-color: $bgBlackHeader;
          border: 2px $secundaryColor solid;
          cursor: pointer;
          font-weight: 600;
          font-size: 1rem;
          transition: 0.5s;
          text-decoration: none;
          
          &:hover {
            background-color: $secundaryColor;
            color: $bgBlackHeader;
          }
        }

      }

    }

    .headerMobile_open {
      position: absolute;
      transition: 0.5s;
      top: -8px;
      width: 100%;
      right: 0;
      background-color: $bgBlackHeader;
      padding: 10px 0;

      &_categories {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;

        &_category {
          width: 46%;
          padding: 5px;

          &_link {
            text-decoration: none;
            color: white;
          }
        }
      }
    }

  }
}