$lightBlue: #32b9cd;
$darkBlue: #04378f;
$lightGrey: #636a70;
$white: #ffffff;
$black: #07080a;

#rootCadastroLivro{
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 90vh;

    @media (max-width: 768px) {
      height: auto;
    }

    &_title{
      color: $lightBlue;
      font-size: 3rem;

      @media (max-width: 768px) {
        padding-top: 90px;
      }
    }
    &_parag{
      color: $lightGrey;
      font-size: 18px;
      margin: 10px 0;
      max-width: 400px;
      text-align: center;
      margin-bottom: 15px;
    }
    &_form{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      z-index: 1;

      @media (max-width: 768px) {
        width: auto;
      }

      &_input{
        border-radius: 10px;
        border: 2px solid $darkBlue;
        padding: 5px 20px;
        font-size: 18px;
        width: 100%;
        margin: 5px 0;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0,0.40);
        &.quant{
          max-width: 115px;
        }
      }
      &_button {
        border-radius: 5px;
        border: none;
        margin: 10px;
        padding: 5px 55px;
        background: #04378f;
        color: #ffffff;
        font-size: 1.5rem;
        cursor: pointer;
        transition: 0.5s;
        box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.55);
        &:hover{
          padding: 5.5px 60px;
          box-shadow: 2px 5px 5px 0px rgba(0, 0, 0,0.75);
        }
      }
      &_textArea{
        border-radius: 15px;
        border: 2px solid #04378f;
        width: 100%;
        padding: 5px 20px;
        font-size: 18px;
      }
      
    }
    &_forgot{
      margin: 15px 0;
      text-decoration: none;
      color: $lightGrey;
    }
    &_box{
      display: flex;
      justify-content: space-between;
      width: 270px;
      &_link{
        color: $darkBlue;
        font-size: 20px;
      } 
      &_parag{
        color: $lightGrey;
        font-size: 20px;
      } 
    }
    .resp{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 20%;
      border: 2px solid $black;
      border-radius: 15px;
      background: $white;
      max-width: 500px;
      opacity: 0;
      z-index: 0;
      padding: 50px;
      transition: 0.5s;
      &.active{
        opacity: 1;
        z-index: 2;    
      }
      &_title{
        color: $lightBlue;
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
      }
      &_text{
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
      }
      &_link{
        font-size: 20px;
        text-align: center;
      }
      &_ctto{
        font-size: 20px;
        text-align: center;
        background: $darkBlue;
        color: $white;
        border: none;
        border-radius: 10px;
        padding: 5px 10px;
      }
      &_img{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 25px;
        cursor: pointer;
      }
    }
  }
}