// criar variáveis de cores tamanhos e oq mais for necessário aqui
$fontWhite: #ffffff;
$fontBlack: #000000;
$bgWhite: #ffffff;
$bgBlack: #000000;
$fontSize16: 16px;
$fontSize18: 18px;

$lightBlue: #32b9cd;
$darkBlue: #04378f;
$lightGrey: #636a70;
$white: #ffffff;
$black: #07080a;

/* .container {
  width: 85%;
  padding: 10px 7.5%;
} */

#rootContato {
    .main_title {
      color: $lightBlue;
      text-align: center;
      font-size: 3rem;
      margin-top: 20px;
    }
    .main_text {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      font-size: 1.5rem;
    }
    .main_form {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
    }
    .main_input {
      border-radius: 5px;
      border: 2px solid $darkBlue;
      width: 45%;
      padding: 5px 12px;
      margin: 30px 0;
    }
    .main_textarea {
      border-radius: 5px;
      border: 2px solid $darkBlue;
      width: 45%;
      padding: 5px 12px;
    }
    .main_box {
      display: flex;
      align-items: center;
      flex-direction: column;
      &_label {
        color: gray;
        margin-top: 30px;
      }
      &_button {
        padding: 5px 50px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        background: $darkBlue;
        border-radius: 5px;
        border: 2px solid $darkBlue;
        margin: 28px 0;
      }
    }
}

.sideContactUs::after {
  content: "";
  height: 7px;
  width: 7px;
  background-color: #fff;
  position: absolute;
  display: block;
  top: 25px;
  left: 6px;
  border-radius: 15px;
}