$lightBlue: #32b9cd;
$darkBlue: #04378f;
$lightGrey: #636a70;
$white: #ffffff;
$black: #07080a;

#rootNotAllowed {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 100px;
    
    &.container {
      width: 80%;
      margin: 0 auto;
      padding: 0;
    }
    &_title {
      color: $lightBlue;
      font-size: 3rem;
      margin-top: 10px;
    }
    &_parag {
      color: $lightGrey;
      font-size: 25px;
      margin: 10px 0;
      text-align: center;
      margin-bottom: 15px;
      a{
        color: $lightBlue;
      }
    }
    &_img{
        width: 55vh;
    }
    &_btn{
      border-radius: 5px;
      border: none;
      margin-bottom: 15px;
      padding: 5px 55px;
      background: $darkBlue;
      color: $white;
      font-size: 20px;
      cursor: pointer;
      transition: 0.5s;
      box-shadow: 1px 3px 3px 0px rgb(0 0 0 / 55%);
      text-decoration: none;
    }
    
  }
  .footer{
    position: absolute;
    bottom: 0;
  }
}
